body{
    text-align: center;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.buttonContainer{
    display: flex;
    justify-content: center;
}
.btn{
    width: 170px;
    height: 170px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}
.red{
    background-color: #d95980;
}
.green{
    background-color: #63aac0;;
}
.yellow{
    background-color: #f99b45;
}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: #0f0;
}